$main-color: #f72210;
$button-color: #ffe400;

.navbar-custom {
  background-color: $main-color;

  a.logo {
    font-family: Kadwa, serif;
    font-size: 25px;
    margin-right: 0;
    height: 50px;

    span {
      color: white;
    }
  }

  .navbar-subscribe {
    background-color: #ffe400;
    border-radius: 24px;
    color: black;
    font-size: 13px;
    border: none;
  }

  .navbar-user-icon {
    color: rgb(255, 255, 255, 0.5);
  }

  .navbar-toggler {
    padding: 0;
  }
}
