$main-color: #f72210;
$second-color: #3581f4;
$button-color: #ffe400;
$transparent-gray: rgba(3, 3, 3, 0.4);
$soft-gray: #e2e2e2;
$soft-gray-tone2: #d6d6d6;
$icons-opacity: 0.75;
$border: 1px solid $soft-gray;
$debate-border: 4px solid $soft-gray;

@mixin arial($st, $fs, $lh) {
  font: #{$st} #{$fs}/#{$lh} Arial, Helvetica, sans-serif;
}

@mixin roboto($st, $fs, $lh) {
  font: #{$st} #{$fs}/#{$lh} "Roboto Condensed", sans-serif;
}

@mixin kadwa($st, $fs, $lh) {
  font: #{$st} #{$fs}/#{$lh} Kadwa, serif;
}

body {
  @include arial(normal, 13px, 18px);
}

img {
  width: 100%;
  height: auto;
}

.fa-icon1 {
  font-size: 20px;
}

.f-logo {
  @include kadwa(bold, 28px, 0);

  letter-spacing: -3px;
}

.navb {
  background-color: $main-color;
  height: 50px;

  .logo {
    @extend .f-logo;
  }

  .user {
    @extend .fa-icon1;

    opacity: $icons-opacity;
  }

  .subs {
    @include roboto(bold, 13px, 24px);

    border-radius: 24px;
    background-color: $button-color;
    border: none;

    padding: {
      left: 12px;
      right: 12px;
    }
  }

  .toggler {
    opacity: $icons-opacity;
  }
}

.page {
  aside {
    border-bottom: $border;
    background-color: white;

    margin: {
      top: 18px;
    }

    padding: {
      right: 15px;
      left: 15px;
      top: 20px;
    }

    .top-story {
      padding: {
        bottom: 20px;
      }

      > * {
        margin: {
          bottom: 10px;
        }
      }
    }

    .featured {
      @extend .top-story;
    }

    .block-title {
      @include roboto(bold, 16px, 16px);

      color: $transparent-gray;
    }

    .picture-text {
      @include roboto(bold, 17px, 16px);

      background-color: rgba(255, 255, 255, 0.9);
      color: $main-color;
      width: max-content;
      height: max-content;
      z-index: 0;

      padding: {
        top: 10px;
        right: 10px;
        bottom: 5px;
        left: 10px;
      }
    }

    .picture-title {
      @include roboto(bold, 22px, 24px);
    }

    .sponsor {
      @extend .top-story;

      .picture-text {
        color: $second-color;
      }

      .sponsored-text {
        padding: 20px;
        border: 1px solid $soft-gray;
      }
    }
  }
}

.opinion {
  .opinion-img {
    width: 63px;
    height: 63px;

    margin: {
      right: 15px;
      bottom: 10px;
    }
  }

  .opinion-txt {
    color: black;
    @include roboto(bold, 17px, 21px);
  }

  .opinion-txt-2 {
    color: #555;
    @include roboto(bold, 14px, 21px);
  }

  .debate {
    margin-top: 10px;
    border-bottom: $border;
  }

  .debate-top {
    border-top: $debate-border;
    padding-top: 10px;
    border-bottom: 2px double $soft-gray;
  }

  .debate-bottom {
    border-bottom: $debate-border;
    margin-bottom: 30px;
    margin-top: 26px;
  }

  .vs-line {
    border: {
      top: $border;
      bottom: $border;
    }

    height: 3px;

    .vs-container {
      left: 46%;
      width: 32px;
      height: 32px;
      top: -16px;
      background-color: black;
      color: $soft-gray-tone2;
      border-radius: 50%;
    }
  }
}
